extends ../../layouts/default.pug
include ../../mixins/moment.pug


block main
  if (role.permissions.includes("products_view"))
    if (product.title)
      h1(class="mb-4") #{product.title}

    if (product.categories)
      div(class="mb-4") Danh mục: 
        each category in product.categories
          a(href=`/${prefixAdmin}/products-category/detail/${category.id}`) #{category.title} 
          span > 
    
    if (product.featured)
      div(class="mb-4") 
        |Nổi bật: 
        if (product.featured === '0')
          | <b>Không</b>
        else
          | <b>Có</b>

    if (product.price)
      div(class="mb-4") Giá: <b>#{product.price}$</b>

    if (product.discountPercentage)
      div(class="mb-4") Giảm giá: <b>#{product.discountPercentage}%</b>

    if (product.stock)
      div(class="mb-4") Còn lại: <b>#{product.stock}</b>

    if (product.thumbnail)
      div(class="mb-4")
        img(
          src=product.thumbnail
          style="width: 100px"
        )

    if (product.status)
      div(class="mb-4")
        span Trạng thái:
        if (product.status === "active")
          span(class="badge badge-success") Hoạt động
        else
          span(class="badge badge-danger") Dừng hoạt động

    if (product.position)
      div(class="mb-4") Vị trí: <b>#{product.position}</b>

    if (product.description)
      div(class="mb-4")
        |Mô tả:  
        |!{product.description}

    if (product.createdBy.accountFullName) 
      div 
        |Người tạo: #{product.createdBy.accountFullName}
        br
        |Thời gian tạo: 
        +formatDate(product.createdBy.createdAt)
    if (product.updatedBy.length > 0)
      div
        |Người cập nhật cuối: #{product.updatedBy.slice(-1)[0].accountFullName}
        br
        |Thời gian cập nhật: 
        +formatDate(product.updatedBy.slice(-1)[0].updatedAt)