extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/change-multi.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)

  h1(class="mb-4") Danh sách sản phẩm đã xoá

  .card.mb-3
    .card-header Tìm kiếm
    .card-body
      .row 
        .col-6
          +search(keyword)


  .card.mb-3
    .card-header Danh sách
    .card-body
      
      form(
          action=`/${prefixAdmin}/products/trash/change-multi?_method=PATCH`
          method="POST"
          form-trash-change-multi
        ) 
          .d-flex.align-items-start
            .form-group
              select(name="type" class="form-control")
                option(selected) ___Chọn hành động___
                option(value="restore-all") Khôi phục tất cả
                option(value="sharp-delete-all") Xoá tất cả
            .form-group
              input(
                type="text"
                name="ids"
                value=""
                class="form-control d-none"
              )
            button(type="submit" class="btn btn-primary") Áp dụng

      table(
        class= "table table-hover table-sm"
        checkbox-multi
      )
        thead
          tr
            th 
              input(type="checkbox" name="checkall")
            th STT
            th Hình ảnh
            th Tiêu đề
            th Giá
            th Vị trí
            th Trạng thái
            th Hành động

        tbody
          each item, index in products 
            tr 
              td
                input(
                  type="checkbox"
                  name="id"
                  value=item.id
                )
              td #{index + 1}
              td
                img(
                  img-product
                  src= item.thumbnail
                  alt= item.title
                  width="100px"
                  height="auto"
                  style="cursor: pointer"
                )
              td= item.title
              td #{item.price}$
              td #{item.position}
              td
                if (item.status == "active")
                  span(
                    class="badge badge-success"
                  ) Hoạt động 
                else 
                  span(
                    class="badge badge-danger"
                  ) Dừng hoạt động
              td
                button(
                  class="btn btn-primary btn-sm"
                  button-restore
                  data-id= item.id
                ) Khôi phục
                button(
                  class="btn btn-danger btn-sm ml-1"
                  button-sharp-delete
                  data-id= item.id
                ) Xóa vĩnh viễn
          else 
            tr 
              td(
                colspan="7"
                class="text-center"
              ) Không tìm thấy sản phẩm nào!
  form(
    id="form-sharp-delete-item"
    method="POST"
    action=""
    data-path=`/${prefixAdmin}/products/trash/sharp-delete`
  )
  form(
    id="form-restore-item"
    method="POST"
    action=""
    data-path=`/${prefixAdmin}/products/trash/restore`
  )

  +pagination(pagination)