extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  +alert-success(2000)

  .post-detail
    .container.my-5
      button(
        class="btn btn-secondary"
        button-go-back
      ) Trở lại

      .row
        .col-6
          .inner-thumb
            img(src=post.thumbnail, alt=post.title)
        .col-6
          h1(class="inner-title") #{post.title}

          if (post.category)
            div(class="inner-category")
              span Danh mục: 
              a(href=`/posts/${post.category.slug}`) #{post.category.title}

    hr

    .container.my-5
      .row
        .col-12
          +box-head("Nội dung")
          .inner-desc !{post.content}