extends ../../layouts/default.pug

block main
  if (role.permissions.includes("accounts_view"))
    if (account.fullName)
      h1(class="mb-4") #{account.fullName}

    if (account.role)
      div(class="mb-4") Nhóm quyền: #{account.role}

    if (account.status)
      div(class="mb-4")
        span Trạng thái:
        if (account.status === "active")
          span(class="badge badge-success") Hoạt động
        else
          span(class="badge badge-danger") Dừng hoạt động

    if (account.email)
      div(class="mb-4") Email: #{account.email}

    if (account.phone)
      div(class="mb-4") Số điện thoại: #{account.phone}

    if (account.avatar)
      div(class="mb-4") Avatar: 
      div(class="mb-4")
        img(
          src=account.avatar
          style="width: 100px"
        )