extends ../../layouts/default.pug
include ../../mixins/moment.pug


block main
  if (role.permissions.includes("products-category_view"))
    if (productCategory.title)
      h1(class="mb-4") #{productCategory.title}

    if (productCategory.parents.length > 0)
      div(class="mb-4") Danh mục cha: 
        each parent in productCategory.parents
          a(href=`/${prefixAdmin}/products-category/detail/${parent.id}`) #{parent.title}
          span  > 

    if (productCategory.thumbnail)
      div(class="mb-4")
        img(
          src=productCategory.thumbnail
          style="width: 100px"
        )

    if (productCategory.status)
      div(class="mb-4")
        span Trạng thái:
        if (productCategory.status === "active")
          span(class="badge badge-success") Hoạt động
        else
          span(class="badge badge-danger") Dừng hoạt động

    if (productCategory.position)
      div(class="mb-4") Vị trí: <b>#{productCategory.position}</b>

    if (productCategory.description)
      div(class="mb-4") !{productCategory.description}
    
    if (productCategory.createdBy && productCategory.createdBy.accountFullName) 
      div 
        |Người tạo: #{productCategory.createdBy.accountFullName}
        br
        |Thời gian tạo: 
        +formatDate(productCategory.createdBy.createdAt)
    if (productCategory.updatedBy && productCategory.updatedBy.length > 0)
      div
        |Người cập nhật cuối: #{productCategory.updatedBy.slice(-1)[0].accountFullName}
        br
        |Thời gian cập nhật: 
        +formatDate(productCategory.updatedBy.slice(-1)[0].updatedAt)