extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
  if (role.permissions.includes("posts_create"))
    h1(class="mb-4") Tạo bài viết
    +alert-error(5000)
    form(
      action=`/${prefixAdmin}/posts/create`
      method="POST"
      enctype="multipart/form-data"
    )
      div(class="form-group")
        label(for="title") Tiêu đề
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
        )
        div(class="form-group")
          label(for="post_category_id") Chọn danh mục
          select(
            name="post_category_id"
            id="post_category_id"
            class="form-control"
          )
            option(value="") -- Chọn danh mục --
            +select-tree(records)
      div(class="form-group form-check form-check-inline")
        
        input(
          type="radio"
          class="form-check-input"
          id="featured1"
          name="featured"
          value="1"
        )
        label(for="featured1" class="form-check-label") Nổi bật
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="featured0"
          name="featured"
          value="0"
          checked
        )
        label(for="featured0" class="form-check-label") Không nổi bật
      div(class="form-group")
        label(for="preview") Preview
        textarea(
          class="form-control"
          id="preview"
          name="preview"
          rows="3"
          placeholder="Tối thiểu 10 từ, tối đa 30 từ"
        )
      div(class="form-group")
        label(for="desc") Nội dung
        textarea(
          class="form-control textarea-mce"
          id="desc"
          name="content"
          rows="10"
        )
      div(
        class="form-group"
        upload-image
        )
        label(for="thumbnail") Ảnh bìa bài viết
        input(
          type="file"
          class="form-control-file"
          id="thumbnail"
          name="thumbnail"
          accept='image/*'
          upload-image-input
        )
        img(
          src=""
          class="image-preview"
          upload-image-preview
        )
      div(class="form-group")
        label(for="position") Vị trí
        input(
          type="number"
          class="form-control"
          id="position"
          name="position"
          placeholder="Tự động tăng"
          min="1"
        )
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusActive"
          name="status"
          value="active"
          checked
        )
        label(for="statusActive" class="form-check-label") Hoạt động
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusInActive"
          name="status"
          value="inactive"
        )
        label(for="statusInActive" class="form-check-label") Dừng hoạt động
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Tạo mới